<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio1</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Provident, modi dolorem eveniet eum incidunt impedit quaerat tempore dolores omnis aperiam dicta voluptates et, 
                laboriosam placeat magnam libero molestias qui non!
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio3</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Provident, modi dolorem eveniet eum incidunt impedit quaerat tempore dolores omnis aperiam dicta voluptates et, 
                laboriosam placeat magnam libero molestias qui non!
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio3</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Provident, modi dolorem eveniet eum incidunt impedit quaerat tempore dolores omnis aperiam dicta voluptates et, 
                laboriosam placeat magnam libero molestias qui non!
            </p>
        </ul>
    </div>
</div>
